* {
  border: 1px solid salmon;
  margin: 0;
}

body {
  margin: 0;
  background-color: blanchedalmond;
  text-align: center;
  color: white;
}


.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  
}

main {
  min-height: 60vh;
  flex-grow: 5;
  background-color: salmon;
  margin: .3rem;
}

header {
  min-height: 20vh;
  flex-grow: 5;
  margin: .3rem;

}

footer {
  min-height: 20vh;
  flex-grow: 5;
  margin: .3rem;
}

footer, header {
  background-color: darksalmon;
  flex-grow: 2;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  header {
    width: 100%;
    margin: 8px;
  }

  main {
    max-width: 90%;
    margin: 8px;
  }

  footer {
    margin: 8px;
  }

}
